---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - v2.edp.epam.com
  resources:
  - jiraissuemetadatas
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - v2.edp.epam.com
  resources:
  - jiraissuemetadatas/finalizers
  verbs:
  - update
- apiGroups:
  - v2.edp.epam.com
  resources:
  - jiraissuemetadatas/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - v2.edp.epam.com
  resources:
  - jiraservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - v2.edp.epam.com
  resources:
  - jiraservers/finalizers
  verbs:
  - update
- apiGroups:
  - v2.edp.epam.com
  resources:
  - jiraservers/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: manager-role
  namespace: placeholder
rules:
- apiGroups:
  - argoproj.io
  resources:
  - applications
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - v2.edp.epam.com
  resources:
  - cdstagedeployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - v2.edp.epam.com
  resources:
  - cdstagedeployments/finalizers
  verbs:
  - update
- apiGroups:
  - v2.edp.epam.com
  resources:
  - cdstagedeployments/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - v2.edp.epam.com
  resources:
  - codebasebranches
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - v2.edp.epam.com
  resources:
  - codebasebranches/finalizers
  verbs:
  - update
- apiGroups:
  - v2.edp.epam.com
  resources:
  - codebasebranches/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - v2.edp.epam.com
  resources:
  - codebaseimagestreams
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - v2.edp.epam.com
  resources:
  - codebaseimagestreams/finalizers
  verbs:
  - update
- apiGroups:
  - v2.edp.epam.com
  resources:
  - codebaseimagestreams/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - v2.edp.epam.com
  resources:
  - codebases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - v2.edp.epam.com
  resources:
  - codebases/finalizers
  verbs:
  - update
- apiGroups:
  - v2.edp.epam.com
  resources:
  - codebases/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - v2.edp.epam.com
  resources:
  - gitservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - v2.edp.epam.com
  resources:
  - gitservers/finalizers
  verbs:
  - update
- apiGroups:
  - v2.edp.epam.com
  resources:
  - gitservers/status
  verbs:
  - get
  - patch
  - update
