global:
  # -- platform type that can be "kubernetes" or "openshift"
  platform: "kubernetes"

# -- component name
name: codebase-operator
annotations: {}
nodeSelector: {}
tolerations: []
affinity: {}
image:
  # -- EDP codebase-operator Docker image name. The released image can be found on [Dockerhub](https://hub.docker.com/r/epamedp/codebase-operator)
  repository: epamedp/codebase-operator
  # if not defined then .Chart.AppVersion is used
  # -- EDP codebase-operator Docker image tag. The released image can be found on [Dockerhub](https://hub.docker.com/r/epamedp/codebase-operator/tags)
  tag:
envs:
  - name: RECONCILATION_PERIOD
    value: "360"  # The value should be typed in minutes
  # -- Maximum number of parallel reconciliation codebasebranches
  - name: CODEBASE_BRANCH_MAX_CONCURRENT_RECONCILES
    value: "3"
imagePullPolicy: "IfNotPresent"
# -- Optional array of imagePullSecrets containing private registry credentials
## Ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry
imagePullSecrets: []
# - name: regcred

resources:
  limits:
    memory: 1Gi
  requests:
    cpu: 50m
    memory: 256Mi

# -- Pod Security Context
# Ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
podSecurityContext:
  runAsNonRoot: true

# -- Container Security Context
# Ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
securityContext:
  allowPrivilegeEscalation: false

jira:
  # -- Flag to enable/disable Jira integration
  integration: false
  # -- Enable creation of QuickLink for Jira
  quickLink:
    enabled: true
  # -- JiraServer CR name
  name: "jira"
  # -- API URL for development
  apiUrl: "https://jiraeu-api.example.com"
  # -- URL to Jira server
  rootUrl: "https://jiraeu.example.com"
  # -- Name of secret with credentials to Jira server
  credentialName: "ci-jira"

# The TELEMETRY_ENABLED flag configuration grants users the authority
# to manage anonymized data collection for telemetry purposes. By activating this flag, users support
# the continual collection of anonymized statistics, essential for informed decision-making and strategic
# platform enhancements. This feature respects user preferences, offering the choice to participate in shaping
# the platform's improvement initiatives while ensuring anonymity and data privacy.
# Read more about EDP telemetry here: https://epam.github.io/edp-install/developer-guide/telemetry/
# -- Flag to enable/disable telemetry
telemetryEnabled: true

# -- Custom resource configuration
crds:
  # -- Install and upgrade CRDs
  install: true
  # -- Keep CRDs on chart uninstall
  keep: true
  # -- Annotations to be added to all CRDs
  annotations: {}
