global:
  edpName: ""
  platform: "openshift"
  database:
    port: 5432
    host:
    name: "edp-install-wizard-db"

name: codebase-operator
image:
  name: epamedp/codebase-operator
  version: v2.4.0

jira:
  integration: true
  name: "epam-jira"
  apiUrl: "https://jiraeu-api.epam.com"
  rootUrl: "https://jiraeu.epam.com"
  credentialName: "epam-jira-user"